<ion-header>
    <ion-toolbar>
        <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="contenido">
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let item of menuItem | async">
                <ion-card class="card-obj" [routerLink]="item.urlRedirect">
                    <ion-card-header class="card-header">
                        <ion-img class="card-img" src="{{item.imgUrl}}" alt="Avatar"></ion-img>
                        <ion-card-title class="card-title">{{item.title}}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content class="card-description"> {{item.description}} </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>