.header-toolbar {
    color: light;
}

.title-toolbar {
    font-weight: bold;
}

.contenido {
    background: #dcddde;
}

.card-obj {
    height: auto;
    border-radius: 7px;
    width: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    height: 50px;
}

.card-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    height: max-content;
    width: auto;
}

.card-title {
    color: #000;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.card-description {
    padding: 1px 5px;
    font-size: 15px;
    font-family: "Times New Roman";
    margin-left: 12px;
}