<app-header titulo="report mail"></app-header>

<ion-content>
    <div class="content">
        <form #formulario="ngForm" (submit)="OnSubmit()">

            <ion-list-header>
                <ion-label>Formulario válido: {{ formulario.valid }}</ion-label>

                <ion-button (click)="addPhotoToGallery()" shape="round" size="large">
                    <ion-icon name="camera"></ion-icon>
                </ion-button>
            </ion-list-header>


            <ion-item>
                <ion-label>Pak:</ion-label>
                <ion-input type="text" placeholder="Pak" name="pak" [(ngModel)]="datosReporteApiGmail.pak" pattern="[A-z-0-9]{3,6}" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Nro:</ion-label>
                <ion-input type="text" placeholder="Nro" name="nro" [(ngModel)]="datosReporteApiGmail.order" pattern="[0-9]{2}" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Operación:</ion-label>
                <ion-input type="text" placeholder="Operación" name="operacion" [(ngModel)]="datosReporteApiGmail.operation" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Programa:</ion-label>
                <ion-input type="text" placeholder="Programa" name="programa" [(ngModel)]="datosReporteApiGmail.program" pattern="[A-z]{7}" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Fecha:</ion-label>
                <ion-datetime type="date" name="fecha" display-format="DD.MM.YYYY HH:mm" [value]="datosReporteApiGmail.date.toISOString()" required></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>Usuario:</ion-label>
                <ion-input type="text" placeholder="Usuario" name="usuario" [(ngModel)]="datosReporteApiGmail.user" required></ion-input>
            </ion-item>


            <ion-list>
                <ion-item *ngFor="let check of Checks">
                    <ion-label>{{check.name}}</ion-label>
                    <ion-checkbox [name]="check.name" [color]="check.color" [(ngModel)]="check.selected" slot="start"></ion-checkbox>
                </ion-item>
            </ion-list>

            <!-- Textarea with custom number of rows and cols -->
            <ion-item>
                <ion-label>Notes:</ion-label>
                <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..." name="notes" [(ngModel)]="datosReporteApiGmail.description" required></ion-textarea>
            </ion-item>


            <ion-grid>
                <ion-row>
                    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">




                        <ion-col size="12">
                            <ion-img [src]="photo.webviewPath"></ion-img>
                        </ion-col>


                        <ion-button class="button-delete" fill="clear" size="small" color="primary" (click)="onClickPhoto(photo, position)">
                            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                        </ion-button>


                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-button [disabled]="formulario.invalid" type="submit" expand="block">
                Enviar
            </ion-button>
            <ion-progress-bar type="indeterminate" id=progressbarSubmit *ngIf="verProgressbarSubmit"></ion-progress-bar>

        </form>
    </div>
</ion-content>