.camera-button {}

.content {
    background: #dcddde;
}

.checkbox-description {
    font-size: 0.8em;
}

.detail-img {
    height: 18px;
}

.button-delete {
    position: absolute;
    top: -7px;
    right: -15px;
    font-size: 14px;
}